<div class="container">
  <div class="logo">
    <span
      ><img
        class="img-pokeball"
        src="https://art.ngfiles.com/images/386000/386577_stardoge_8-bit-pokeball.png?f1446737358"
        alt=""
    /></span>
    <h1 class="title">Poke-App</h1>
    <span
      ><img
        class="img-pokeball"
        src="https://art.ngfiles.com/images/386000/386577_stardoge_8-bit-pokeball.png?f1446737358"
        alt=""
    /></span>
  </div>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/">Add pokemon</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/list">List of pokemon</a>
    </li>
  </ul>
  <hr />
</div>
