.header-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    padding-left: 3em;
    padding-right: 3em;
}

.img-pokeball {
    height: 5em;
    width: 5em;
}