.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.filter-sort-container {
    display: flex;
    margin-bottom: 1.5em;
    justify-content: space-between;
}