.pokemon-list {
    display: flex;
    flex-wrap: wrap;
}

.filter-sort-container {
    display: flex;
    margin-bottom: 1.5em;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: center;
}

.page-num {
    margin-left: 0.5em;
    margin-right: 0.5em;
}